@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root {
  // 1rem = 16px , 1em = 20px

  --ff-alata: 'Alata', sans-serif;
  --ff-josefin: 'Josefin Sans', sans-serif;

  --fw-regular: 300;

  --fs-h1: 4.5rem; //72px
  --fs-h1-mobile: 2.5rem; //40px
  --fs-h2: 3rem; //48px
  --fs-h2-mobile: 2rem; //32px
  --fs-h3: 5.875rem; //42px
  --fs-h3-mobile: 5.875rem; //42px

  --fs-100: 0.625rem; //10px
  --fs-200: 0.688rem; //11px
  --fs-300: 0.75rem; //12px
  --fs-400: 0.875rem; //14px
  --fs-500: 0.938rem; //15px
  --fs-600: 1rem; //16px
  --fs-700: 1.125rem; //18px
  --fs-800: 1.5rem; //24px
  --fs-900: 3rem; //48px

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-darkgray: hsl(0, 0%, 55%);
  --clr-verydarkgray: hsl(0, 0%, 41%);
}
