@import 'variables';

:root {
  // 1rem = 16px , 1em = 20px

  --ff-alata: 'Alata', sans-serif;
  --ff-josefin: 'Josefin Sans', sans-serif;

  --fw-regular: 300;

  --fs-h1: 4.5rem; //72px
  --fs-h1-mobile: 2.5rem; //40px
  --fs-h2: 4rem; //64px
  --fs-h2-mobile: 4rem; //64px
  --fs-h3: 5.875rem; //42px
  --fs-h3-mobile: 5.875rem; //42px

  --fs-100: 0.625rem; //10px
  --fs-200: 0.688rem; //11px
  --fs-300: 0.75rem; //12px
  --fs-400: 0.875rem; //14px
  --fs-500: 0.938rem; //15px
  --fs-600: 1rem; //16px
  --fs-700: 1.125rem; //18px
  --fs-800: 1.5rem; //24px
  --fs-900: 3rem; //48px

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-darkgray: hsl(0, 0%, 55%);
  --clr-verydarkgray: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  color: var(--clr-white);
  text-decoration: none;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: var(--ff-josefin);
  text-transform: uppercase;
  font-weight: var(--fw-regular);
}

.wrapper {
  width: 100%;
  padding-inline: 2rem;
}

body {
  font-size: var(--fs-500);
  font-family: var(--ff-alata);

  .main-container {
    max-width: 1440px;
    margin: auto;

    header {
      background: url('./../images/mobile/image-hero.jpg') no-repeat center;
      background-blend-mode: multiply;
      background-size: cover;
      padding-block: 2.5rem;

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-block-end: 10rem;

        nav {
          position: fixed;
          z-index: 1000;
          background: black;
          color: white;
          width: 100vw;
          height: 100vh;
          top: 0;
          left: -100%;
          padding: 3rem 2rem;
          transition: left 0.25s linear;

          &.show {
            left: 0;
          }

          .header-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block-end: 10rem;
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            li {
              position: relative;

              &:after {
                transition: width 0.15s linear;
                content: '';
                width: 0;
                position: absolute;
                background: var(--clr-white);
                height: 2px;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
              }

              a {
                font-size: var(--fs-800);
                font-family: var(--ff-josefin);
              }
            }
          }
        }
      }

      .stage {
        h1 {
          border: 3px solid var(--clr-white);
          color: var(--clr-white);
          padding: 1.5rem;
          margin-block-end: 10rem;
          font-size: var(--fs-h1-mobile);
        }
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .wrapper {
    width: 1160px;
    margin-inline: auto;
  }

  body {
    .main-container {
      header {
        background: url('./../images/desktop/image-hero.jpg');
        padding-block: 2rem;

        .navbar {
          margin-block-end: 4rem;

          nav {
            position: static;
            width: unset;
            height: unset;
            background: unset;
            color: unset;

            .header-mobile {
              display: none;
            }

            ul {
              flex-direction: row;
              justify-content: space-between;
              gap: 2.25rem;

              li {
                &:hover {
                  &:after {
                    width: 50%;
                  }
                }

                a {
                  text-transform: capitalize;
                  font-size: var(--fs-500);
                  font-family: var(--ff-alata);
                }
              }
            }
          }

          .icon_hamburger {
            display: none;
          }
        }

        .stage {
          h1 {
            max-width: 650px;
            font-size: var(--fs-h1);
            margin-bottom: 7.25rem;
            padding: 2rem;
          }
        }
      }
    }
  }
}
